@charset "UTF-8";
#table{
  border-collapse:  collapse; 
  margin-bottom: 60px;
 margin-left: 60px;
}
h1{
   padding-left: 60px;
}
tr,th,td{
  border: 1px solid;
  padding: 5px;
  text-align: center;
}
.trClass{

  background-color: orange;

}


#formId{
  margin: 10px;
}


#graph{
  border-collapse:  collapse; 
  margin-left: 60px;
  height: 200px;


}
#graphTr{
  background-color: yellow;
}

#rating-page {
width: 640px;
margin-bottom: 60px;
margin-left: 60px;
  display: flex;

}

#newData{
  padding-left: 60px;
}

h2{
  margin-top: 0;
}
